@import "../../index.scss";

.terminal {

    $terminal-width: 35%;
    width: $terminal-width;
    height: 90vh;
    background-color: #1e1e1e;
    
    transition: width 0.25s ease-in-out;

    display: flex;
    flex-direction: column;
    
    @include media("<=phone"){
        width: 38%;

    }

    .subTerminalInput {

        height: 45vh;
        background-color: #1e1e1e;
        color:white;
        padding: 10px;
        font-family: "Segoe UI";

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .fieldNameInput {
        
            // opacity: 1;
            font-size: 20px;
            letter-spacing: 1px;
            margin-bottom: 10px;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @include media("<=phone"){
                font-size: 18px;
                width: 50%;
        
            }

        }

        .textFieldInput {
            height: 30vh;
            background-color: #1e1e1e;
            color: white;
            font-size: 16px;
            resize: none;
            padding: 10px;
        }
    }
    .subTerminalOutput {

        height: 45vh;
        background-color: #1e1e1e;
        color:white;
        padding: 10px;
        font-family: "Segoe UI";

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .fieldNameOutput {
        
            // opacity: 1;
            font-size: 20px;
            letter-spacing: 1px;
            margin-bottom: 10px;
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @include media("<=phone"){
                font-size: 18px;
                width: 50%;
        
            }

        }

        .textFieldOutput {
            height: 30vh;
            background-color: #1e1e1e;
            color: white;
            font-size: 16px;
            resize: none;
            padding: 10px;
        }
    }

}

.collapsed {
    width: 7%;
    
    .subTerminalInput {
        display: none;

        // .fieldName {
        //     transition: opacity 0.5s ease-in-out;
        //     opacity: 0;
        // }
    }
    .subTerminalOutput {
        display: none;

        // .fieldName {
        //     transition: opacity 0.5s ease-in-out;
        //     opacity: 0;
        // }
    }
}