@import "../../index.scss";

.editor {
    height: 90vh;
    width: 65%;
    flex-grow: 1;
    background-color: #1E1E1E;
    color: white;
    padding: 10px;

    @include media("<=phone") {
        width: 55%;

    }
}

.buttons_container {
    display: flex;
    justify-content: end;
}

.download-btn {
    height: 40px !important;
    width: 40px !important;
    background-color: #1E1E1E;
}

.download-btn :hover {
    fill: aliceblue !important;
}

.copy-btn {
    height: 40px !important;
    width: 40px !important;
    background-color: #1E1E1E;
}

.copy-btn :hover {
    fill: aliceblue !important;
}