@import "../../index.scss";

.editor {
    height: 90vh;
    width: 65%;
    flex-grow: 1;
    background-color: #1E1E1E;
    color: white;
    padding: 10px;
    
    @include media("<=phone"){
        width: 55%;

    }
}

.download_button {
    height: 40px !important; 
    width: 40px !important;
    background-color: #1E1E1E;
    margin-left: 95%;
}

.download_button :hover {
    fill: aliceblue !important;
}