 .login_heading {
    margin: 1rem auto;
  }
  
  .login_form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15vh auto 2vh;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 35px;
    padding: 40px;
  }
  
  .input_element{
     display: flex;
     flex-direction: row;
     align-items: center;
  }
  
  .login_form input {
    font-size: 1.2rem;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #0a0a0a;
    border-radius:8px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
    background-color: white;
  }
  
  .login_form > button {
    padding: 12px 0px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(16, 17, 16, 0.637);
    cursor: pointer;
  }
  
  .login_form > button:hover {
    transform: scale(1.02);
  }
  
  .message_container {
     display: flex;
     flex-direction: column;
     width: 300px;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin: 20px auto;
   }
   
   .message {
     width: 100%;
     font-size: 1.1rem;
     background-color: bisque;
     padding: 7px;
     border-radius: 6px;
     margin: 8px 0;
     position: relative;
   }
   
   .close {
     position: absolute;
     top: 0;
     right: 0;
     font-size: medium;
     cursor: pointer;
   }
  
  @media screen and (max-width: 500px) {
    .login_form {
      width: 80vw;
      padding: 20px;
    }
  }